@import 'mixins';

.color-p3-button {
    padding: 15px 30px;
      font-size: 18px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      color: white;
      transition: background-color 0.3s ease;
      margin: 30px 0;
  
    // Fallback color for all browsers
    background-color: #ed6041; // sRGB fallback
  
    // Apply P3 color only if supported
    @supports (background-color: color(display-p3 1 0.341 0.2)) {
      background-color: color(display-p3 1 0.341 0.2); // P3 color
    }

    &:hover {
        background-color: darkorchid;
        @supports (background-color: color(display-p3 0.32085 0.58799 0.83692)) {
            background-color: color(display-p3 0.32085 0.58799 0.83692); // P3 color
        }
    }

  }